# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 638a208dbdca238945eb0c8d56be06e73cab2ed3cb53fb53428e903013e617d22968ab01919082ee35549965106ee5a2caa7579b43a98327f65c184286315ff8

test:
  secret_key_base: 7742319dada247a71eee07848fed961bb27147fee082918e5de7e451a36c745949d28cc91aafa4afbc0fa52956e48be11a2c4ae338af0f5b4d24fc63c4052cc2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
